.header{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.header_img {
    width: 70px;
}

.header_title {
    font-weight: 900;
    font-size: 50px;
    font-family: 'Sedgwick Ave Display', cursive;
    color: azure;
}

.headerLinkLe{
    padding: 35px;
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.headerLinkRi{
    padding: 35px;
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

a:hover {
    color: azure;
    background-color: transparent;
    text-decoration: underline;
}

.headerNav {
    font-weight: bold;
    cursor: pointer;
    color: #84dadb;
}