.friend-circle {
    width: 200px; /* Breite des Bildes */
    height: 200px; /* Höhe des Bildes */
    border-radius: 50%; /* Kreisförmiger Rand */
    color: white;
    overflow: hidden; /* Bild wird innerhalb des Kreises abgeschnitten */
}

.friend-circle img {
    width: 100%; /* Volle Breite des Bildes */
    height: 100%; /* Volle Höhe des Bildes */
    object-fit: cover; /* Das Bild wird proportioniert skaliert */
}

.friend-card_name {
    margin-bottom: 12px;
}

.deleteButton {
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: double 3px transparent;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
